.timer-seconds-wrapper {
  text-align: center;
  width: 28px;
  margin: 20px 6px 16px 6px;
}

.hug-text-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hug-text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #434242;
  margin: 20px 0 16px 0;
}

.hug-instruction {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #434242;
  margin-bottom: 24px;
}

.hug-img {
  position: absolute;
  /* left: 100px;
  top: 197px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 195.93px;
  z-index: 2;
}

.circle-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.full-height {
  height: 100%;
}

.empty-height {
  height: 0;
}

.filling-circle {
  width: 100%;
  height: 0%;
  background-color: red;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  bottom: 0px;
  position: absolute;
}

.filling-circle-animation {
  height: 100%;
  background-position: top left;
  animation: animated-height 10s linear;
  -webkit-transition: animated-height 10s linear;
  -moz-transition: animated-height 10s linear;
  -o-transition: animated-height 10s linear;
  transition: animated-height 10s linear;
}

@keyframes animated-height {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

#main-hug-circle {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  width: 256px;
  height: 256px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15), 0px 1px 4px rgba(0, 0, 0, 0.15);
}

.carousel-item-subtitle {
  width: 100%;
  text-align: center;
  padding-right: 65px;
}

.donor-field-field {
  width: 278px;
  height: 64px;
  border: 1px solid #C4CDD5;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 6px;
}

.coffee-img2 {
  width: 64px;
  height: 80.25px;
  margin-bottom: 6px;
}

.donor-data-header {
  margin-bottom: 15.7px;
}

.select-appreciation-wrapper {
  display: flex;
  justify-content: center;
}

.select-appreciation-container {
  width: 100%;
}

.form-header-fix {
  width: 100%;
}

.accounts-header-wrapper {
  padding: 16px 16px 0px 16px;
}

.select-appreciation-header {
  font-weight: bold;
  color: #434242;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 20px;
}

.select-header-container {
  display: flex;
  justify-content: center;
}

.flex-space {
  display: flex;
  justify-content: space-between;
  padding-left: 18px;
  padding-right: 18px;
}

.appreciation-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 128px;
  height: 128px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15), 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.coffee-img {
  width: 64px;
  height: 80.25px;
  margin-right: 12px;
}

.heart-img {
  width: 64px;
  height : 57.74px;
  margin-bottom: 13px;
  margin-top: 15px;
}

.girl-img-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 24px;
}

.instruction-wrapper {
  display: flex;
  justify-content: center;
}

.instruction {
  font-style: italic;
  font-weight: 300;
  font-size: 12px;
}

.coffee-main-wrapper {
  /* width: 350px; */
  padding: 24px 20px;
}

.thanks-container {
  padding: 24px 44.12px 135px 20px;
}

.thanks-img-wrapper {
  display: flex;
  justify-content: center;
  margin: 60px 0 20.15px 25px;
}

.thanks {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #434242;
}

.thanks-wrapper {
  display: flex;
  justify-content: center;
  margin-left: 25px;
}

.coffee-select-wrapper {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15), 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 16px;
}

.coffee-form-part {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 0px rgba(63, 63, 68, 0.05), 0px 1px 3px rgba(63, 63, 68, 0.15);
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 24px;
  padding: 16px
}

.entity-data-wrapper {
  padding: 16px 16px 8px 16px;
  border-bottom: 0.4px solid #DAE1E7;
}

.entity-data {
  margin-bottom: 8px;
}

.multipliers-qty-wrapper {
  display: flex;
  padding-top: 21px;
}

.multiplier-btn {
  text-align: center;
  border-radius: 50%;
  width: 41.06px;
  height: 40px;
  border: 1px solid #EE4380;
  box-sizing: border-box;
  padding: 12px;
  margin-right: 12.32px;
  cursor: pointer;
}

.coffee-info {
  display: flex;
  margin-bottom: 10px;
}

#coffee-price {
  margin-left: 4px
}

.selected-btn {
  background-color: #EE4380
}

.selected-btn-text {
  color: #FFFFFF
}

.carousel-items {
  cursor: pointer;
  width: 256px;
  height: 192px;
  margin: 0 24px 8px 24px;
}

@media screen and (min-width: 736px) {

  .timer-seconds-wrapper {
    width: 40px;
    margin-top: 24px
  }

  .hug-instruction {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 48px;
  }

  .hug-text {
    font-size: 30px;
    line-height: 36px;
    margin-top: 24px
  }

  .hug-img {
    width: 203.54px;
    height: 265.86px;
    /* left: 266.5px;
    top: 237px; */
  }

  #main-hug-circle {
    width: 347.38px;
    height: 347.38px;
  }

  .carousel-items {
    width: 326px;
    height: 215.66px;
    margin-bottom: 9.34px;
  }

  .donor-field-field {
    width: 612px;
    height: 80px;
    margin-top: 12px;
  }

  .heart-img {
    margin-bottom: 25px;
  }

  .coffee-img2 {
    margin-bottom: 20px;
  }

  .accounts-header-wrapper {
    padding: 24px 24px 16px 24px;
  }

  .donor-field {
    width: 612px;
  }

  .donor-data-header {
    margin-bottom: 32px;
  }

  .coffee-form-part {
    margin-top: 24px;
    margin-bottom: 32px;
    padding: 24px 24px 0 24px
  }

  .select-appreciation-header {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 24px;
  }
  
  .appreciation-link {
    width: 192px;
    height: 186px;
  }

  .flex-space {
    padding-left: 122px;
    padding-right: 122px;
  }

  .girl-img-wrapper {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .instruction {
    font-size: 14px;
  }

  .coffee-main-wrapper {
    /* width: 736px; */
    padding: 40px 38px;
  }

  .multiplier-btn {
    width: 58.12px;
    height: 58.12px;
    padding: 20px;
  }

  .coffee-select-wrapper {
    padding: 24px;
    margin-bottom: 24px;

  }

  .coffee-info {
    margin-bottom: 18px;
  }

  .coffee-img {
    margin-right: 18px;
  }

  .entity-data-wrapper {
    padding: 24px 24px 12px 24px;
  }

  .entity-data {
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 1440px) {

  .timer-seconds-wrapper {
    margin: 32px 0 30px 0;
    width: 65px;
  }

  .hug-instruction {
    font-size: 16px;
    line-height: 19px;
  }

  .hug-text {
    font-size: 36px;
    line-height: 43px;
    margin: 32px 0 30px 0;
  }

  #main-hug-circle {
    width: 480.84px;
    height: 480.84px;
  }

  .hug-img {
    width: 281.74px;
    height: 368px;
    /* left: 655px;
    top: 295px */
  }

  .carousel-items {
    width: 326px;
    height: 215.66px;
    margin: 0 24px 8px 24px;
  }

  .donor-field-field {
    width: 737.08px
  }

  .heart-img {
    margin-bottom: 33px;
  }

  .coffee-img2 {
    margin-bottom: 25px;
  }

  .coffee-form-wrapper {
    padding: 0 344px 71px 344px;
  }

  .entity-data {
    margin-bottom: 18px;
  }

  .select-appreciation-header {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 32px;
  }

  .flex-space {
    padding-left: 464px;
    padding-right: 464px;
  }

  .girl-img-wrapper {
    margin-top: 32px;
    margin-bottom: 14px;
  }

  .instruction {
    font-size: 16px;
  }

  .coffee-main-wrapper {
    /* width: 100%; */
    padding: 48px 48px;
  }

  .entity-data-wrapper {
    padding-bottom: 14px;
    padding-top: 24px
  }

  .coffee-img {
    margin-right: 28px;
  }

  .coffee-select-wrapper {
    padding: 32px;
    margin-bottom: 32px;
  }

  .coffee-form-part {
    padding: 32px 0 0 32px;
    margin-bottom: 48px;
  }
}
